<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>하이탑</title>
    <link rel="shortcut icon" href="/images/common/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link rel="stylesheet" href="/css/aos.css" />
    <link rel="stylesheet" href="/css/splitting.css" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/board.css" />

    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/contents.css" />

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e549d3aa2a7d71e732574a7bc02d2d2c&libraries=services"></script>
    <script src="./js/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header id="header"></header>

    <main>
      <input type="text" id="book" />
      <button id="btnSearch">검색</button>
    </main>

    <!-- customer end -->

    <script>
      $("#btnSearch").on("click", function () {
        const bookName = $("#book").val();
        $.ajax({ url: `http://127.0.0.1:8099/book/${bookName}` }).done(function (response) {
          console.log(response);
        });
      });
    </script>
  </body>
</html>
